In [2]:
import csv
import sqlite3
#importação

In [3]:
file = open("titanic.csv")
#abre arquivo

In [4]:
conteudo = csv.reader(file)
#le arquivo

In [5]:
connection = sqlite3.connect("banco_de_dados_titanic.db")
#conecta com o banco de dados e cria banco de dados

In [6]:
cursor = connection.cursor()
#conectando com o bando de dados

In [7]:
#criar tabela

cursor.execute('''CREATE TABLE passageiros (
        PassengerId INT,
        Survived INT,
        Pclass INT,
        Name VARCHAR,
        Sex VARCHAR,
        Age INT,
        SibSp INT,
        Parch INT,
        Ticket VARCHAR,
        Fare FLOAT,
        Cabin VARCHAR,
        Embarked VARCHAR
)''')

OperationalError: table passageiros already exists

In [ ]:
inserir_conteudo = """INSERT INTO passageiros(PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked) VALUES(?,?,?,?,?,?,?,?,?,?,?,?)"""
#insere conteúdo

In [ ]:
cursor.executemany(inserir_conteudo, conteudo)
#executa todas as variáveis

In [ ]:
selecionar_tudo = "SELECT * FROM passageiros"
#criar variável e identificar o que tem na tabela

In [ ]:
entradas = cursor.execute(selecionar_tudo).fetchall()
#le todas as entradas e consulta o que tem na tabela

In [1]:
for entrada in entradas:
    print(entrada)
    #chama a tabela

NameError: name 'entradas' is not defined

In [ ]:
connection.commit()
#confirma a conexão

In [ ]:
connection.close()
#fecha a conexão